doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title="QPaste - Quick Pasting library"
        script(src="js/script.js")
        link(rel="stylesheet", src="css/style.js")
    body
        h1 QPaste for #{ext}
