doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title="QPaste - Quick Pasting library"
        link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
        link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Lato|Source+Code+Pro|Bree+Serif")
        link(rel="stylesheet", href="/css/style.css")
        script(src="/js/keyboard.min.js")
    body
        header
            h1.left Q<span class="hidden">uick&nbsp;</span>Paste
            h2.right &#10084;
                div.lovebox Hi! Welcome to QPaste
            textarea#snippet-url(rows=1, spellcheck="false", readonly, style="display:none")
            .clear
        main
            - if (typeof(content) !== 'undefined') {
                div#code-display #{content}
            - } else {
                textarea#code-edit(placeholder="Your Code Goes Here ...", spellcheck="false", autofocus)
            - }
        footer
            hr
            p.instruction Press <kbd>Ctrl</kbd> + <kbd>Enter</kbd>  to Paste!
            p.info All pastes expire in 1 week
        script(src="/js/script.js")


