.left  { float: left  }
.right { float: right }
.clear { clear: both  }

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background: #f2f2f2 url('../img/background.png');
    min-width: 800px;
    padding: 10px 100px;
}

header {
    font-family: 'Bree Serif', 'Lato', Garamond, serif;
    color: #c8c8c8;
    text-shadow: 1px 2px 4px #ddd;
    text-align: center;
}

header h1, header h2 {
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: normal;
    line-height: 50px;
    cursor: pointer;
}
header h1 .hidden {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    width: 0;
    -webkit-transition: width .25s ease-in-out;
       -moz-transition: width .25s ease-in-out;
        -ms-transition: width .25s ease-in-out;
         -o-transition: width .25s ease-in-out;
            transition: width .25s ease-in-out;
}
header h1:hover .hidden {
    width: 90px;
}

header h2 {
    position: relative;
    padding-left: 30px;
}

header h2 .lovebox {
    position: absolute;
    display: none;
    padding: 30px;
    min-width: 350px;
    top: 0%; right: 100%;
    box-shadow: 0 0 20px rgba(0,0,0,.3);
    background: white;
    font-family: 'Lato';
    font-size: 15px;
    text-shadow: none;
    color: #999;
}

header h2:hover .lovebox, header h2 .lovebox:hover {
    display: inline-block;
}

#snippet-url {
    margin: 0;
    padding: 4px 0;
    height: 46px; width: auto;
    min-width: 600px;
    border: none;
    border-bottom: 2px solid #c8c8c8;
    font-family: 'Bree Serif', 'Lato', Garamond, serif;
    font-size: 40px;
    line-height: 28px;
    text-align: center;
    background: transparent;
    resize: none;
    color: #c8c8c8;
    overflow: hidden;
}
#snippet-url:focus, #snippet-url:hover {
    outline: 0;
}

#code-display {
    margin-top: 30px;
    padding: 10px;
    width: 100%;
    height: 400px;

    box-shadow: 0 0 20px rgba(0,0,0,.3);
    font-family: 'Source Code Pro', Courier, monospace;
    font-size: 14px;
    background: #fAfAfA;
    color: #444;
}

#code-edit {
    margin-top: 30px;
    padding: 10px;
    width: 100%;
    height: 400px;

    /* outline and resize/flow fix */
    outline: none;
    border: none;
    overflow: auto;
    resize: none;

    box-shadow: 0 0 20px rgba(0,0,0,.3);
    font-family: 'Source Code Pro', Courier, monospace;
    font-size: 14px;
    background: #fAfAfA;
    color: #444;
}

hr {
    margin: 30px 0;
    height: 2px;
    background: #c8c8c8;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    outline: none;
    border: none;
}

p {
    margin: 10px 0;
    font-family: 'Bree Serif', 'Lato', Garamond, serif;
    text-align: center;
    text-shadow: 1px 2px 4px #ddd;
    color: #c8c8c8;
}

.instruction {
    font-size: 30px;
}

.info {
    font-size: 20px;
}

kbd {
    font-family: 'Source Code Pro', Courier, monospace;
}
